.follow {
	width: 110px;
	height: 30px;
}
.unFollow {
	width: 110px;
	height: 30px;
}
.userBody{
	display: table-row;
	width: 80%;
}
.smallImg{
	border-radius: 50%;
	width: 70px;
}
.textUser{
	display: flex;
	flex-direction: column;
	text-align: left;
}
.userBody{
	text-align: center;
	margin-top: 20px;
	border: 1px solid white;
	width: 300px;
	height: auto;
}