.img{
    width: 55px;
    height: 60px;
    border-radius: 50%;
}
.header {
    display: inline-flex;
    justify-content: space-between;
    align-self: center;
    grid-area: h;
    background-color:rgba(18, 57, 139, 0.68);
}
.search {
    margin: 20px;
    margin-right: 0px;
    border-radius: 20px;
}
.button_s{
    color: #c7b6b6;
    margin: 20px;
    border-radius: 10px;
    background-color: #555555;
}