.nav{

}
.container{
    background-color: rgba(98, 206, 193, 0.68);
    display: inline-flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    height: 70px;
}
.item a{
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-family: Arial, sans-serif;
    font-weight: bolder;

}
.item a.active  {
    color: red;
}
.item a:hover {
    color: red;
}

.setting{

}
