.container{
	display: flex;
	margin-right: 10px;
	justify-content: center;
}
@media (max-width: 900px) {
	.container{
		justify-content: left;
	}
}
.blockImg{
	width: 27%;
	height: auto;
}

.info{
	width: 220px;
	height: auto;
}
.img_avatar {
	width: 200px;
	height: auto;

}