.container{
	text-align: center;
	display: flex;
	justify-content: center;
}
.headForm{
	background: white;
	width: 38%;
	height: 500px;
	opacity: 0.7;
	display: flex;
	align-items: center;
}
@media (max-width: 768px) {
	.headForm{
		width: 100%;
	}
}