.dialogs {
	display: flex;
	justify-content: space-around;
}

.dialog_item {
	padding: 10px;
	border-right: 1px solid red;
	margin-right: 10px;
}
.dialog {

}
.dialog_item  a {
	color: white;
	text-decoration: none;
	font-weight: 800;
	font-size: 20px;
}
.dialog_item .active {
	color: red;
}
.messages_item {
	width: 65%;
	height: auto;
}
.messages {
	padding: 10px;
	font-size: 16px;
	border: 1px solid red;
	border-radius: 10px;
	word-wrap: break-word;
	width: 90%;
	margin-bottom: 10px;
}
.textFieldBlock{
	width: 90%;
}

